

/* 页面头部 */

/* .el-header {
    min-width: 1280px;
} */
.headerNav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1180px;
    background-image: url('@/assets/backhead.png');
    background-size: cover;
    top: auto;
    z-index: 999;
}
.icon-spacing {
    margin: 0 10px; /* 左右各增加10px的间距 */
  }