

/* 页面头部 */

/* .el-header {
    min-width: 1280px;
} */
.headerNav {
    margin-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
    width: 1120px;
    position:fixed;
    top: 0;
    background-color:rgb(221.7, 222.6, 224.4);
    color:  #4a4646;
    z-index: 999;
}
.icon-spacing {
    margin: 0 10px; /* 左右各增加10px的间距 */
  }